@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@200&family=Sen&display=swap');

.form {
  display: flex;
}

.form > div {
  display: inline-block;
  vertical-align: top;
}

.dx-theme-generic-typography{
  background-color: transparent !important;
  color: #05516e !important;
}

.drive-header {
  min-height: auto;
  padding: 0;
  cursor: default;
}

.drive-panel {
  padding: 20px 30px;
  font-size: 100%;
  font-weight: bold;
  border-right: 1px solid rgba(165, 165, 165, 0.4);
  height: 100%;
  width: 100%;
}

/* Treeview */
.dx-treeview-search{
  border-radius: 55px !important;
}

.dx-texteditor-container{
  border: 1px dashed rgb(167, 167, 167);
  border-radius: 25px;
  background-color: initial;
  height: initial;
}

.dx-item.dx-treeview-item{    
  border-radius: 8px;
  background-color: white;
  margin-top: 12px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.dx-state-focused>.dx-item.dx-treeview-item{
  background-color: #FFED00;
  color: #4F4F4F;
}
  
.dx-treeview-node-container-opened {
  border-left: .5px solid white;
  border-radius: 8px;
}

.dx-empty-message{
  color: white;
}


/* End treeview */